body {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, a, span, li, ul, p, label, option, input {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: calc(100% - 40px);
  margin: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: calc(100% - 80px);
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

.site-header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  max-width: calc(100% - 40px);
}

@media (min-width: 650px) {
  .site-header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .site-header .menu {
    max-width: calc(100% - 80px);
  }
}

@media (min-width: 1500px) {
  .site-header .menu {
    max-width: 1440px;
  }
}

.site-header .menu .logo {
  padding: 0 80px;
}

.site-header .menu .logo svg {
  width: 78px;
  height: 59px;
}

.site-header .navigation {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 650px) {
  .site-header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-header .navigation ul li {
  margin-left: 15px;
}

@media (min-width: 992px) {
  .site-header .navigation ul li {
    margin-left: 20px;
  }
}

.site-header .navigation ul li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .site-header .navigation ul li a {
    font-size: 16px;
  }
}

.site-header .logo {
  cursor: pointer;
}

.site-header .logo.mobile-logo {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 650px) {
  .site-header .logo.mobile-logo {
    display: none;
  }
}

.site-header .logo.mobile-logo .hamburger-menu {
  width: 40px;
  height: 40px;
}

.site-header .logo.mobile-logo .hamburger-menu path {
  stroke: #fff;
}

.site-header .mobile-menu-wrapper {
  background: rgba(125, 125, 125, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 10000;
  display: none;
}

.site-header .mobile-menu-wrapper .mobile-menu {
  background-color: #0F59A3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  padding: 30px;
  padding-top: 90px;
  border-radius: 6px;
}

.site-header .mobile-menu-wrapper .mobile-menu ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  width: 100%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.site-header .mobile-menu-wrapper .mobile-menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #0e5296;
  border-radius: 6px;
}

.site-header .mobile-menu-wrapper .mobile-menu ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.site-header .mobile-menu-wrapper .mobile-menu ul li svg {
  width: 30px;
  height: 30px;
}

.site-header .mobile-menu-wrapper .mobile-menu ul li svg path {
  stroke: #fff;
}

.site-header .mobile-menu-wrapper .mobile-menu .close-menu {
  background-color: #0e5296;
  z-index: 9999;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 30px;
  border-radius: 6px;
}

.site-header .mobile-menu-wrapper .mobile-menu .close-menu svg {
  width: 20px;
  height: 20px;
}

.site-header .mobile-menu-wrapper .mobile-menu .close-menu svg path {
  stroke: #fff;
}

.site-header .mobile-menu-wrapper.active {
  display: block;
}

.banner {
  background-repeat: no-repeat;
  background-position: right;
  height: 280px;
  background-size: cover;
}

@media (min-width: 992px) {
  .banner {
    height: 340px;
  }
}

.banner .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .container h1 {
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .banner .container h1 {
    font-size: 36px;
    line-height: 43.88px;
  }
}

.banner.largeBanner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner.largeBanner .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner.largeBanner .container .banner-content {
  margin-bottom: 35px;
}

.banner.largeBanner .container .banner-content h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 43.88px;
  color: #fff;
  text-align: center;
  margin-bottom: 12px;
}

.banner.largeBanner .container .banner-content p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: 21.94px;
}

.banner.largeBanner .container .banner-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.banner.largeBanner .container .banner-services .service-content {
  margin-bottom: 20px;
  background-color: #FBBF24;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 40px 25px 30px 25px;
  min-height: 245px;
}

@media (min-width: 992px) {
  .banner.largeBanner .container .banner-services .service-content {
    padding: 80px 33px 51px 33px;
  }
}

.banner.largeBanner .container .banner-services .service-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: #111827;
}

.banner.largeBanner .container .banner-services .service-content .icon {
  margin: 20px 0;
}

.banner.largeBanner .container .banner-services .service-content .icon svg {
  width: 60px;
  height: 60px;
}

.banner.largeBanner .container .banner-services .service-content p {
  font-weight: 40;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}

.banner.largeBanner .link-to-services {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4C9D10;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .text {
    margin-top: 100px;
  }
}

.text h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #111827;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .text h2 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 40px;
  }
}

.text h2::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 55px;
  background-color: #4C9D10;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6B7280;
}

@media (min-width: 992px) {
  .text p {
    font-size: 18px;
    line-height: 40px;
  }
}

.plain-text {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .plain-text {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 481px calc(100% - 530px);
        grid-template-columns: 481px calc(100% - 530px);
    grid-gap: 50px;
  }
}

@media (min-width: 992px) {
  .plain-text {
    -ms-grid-columns: 481px calc(100% - 600px);
        grid-template-columns: 481px calc(100% - 600px);
    grid-gap: 120px;
  }
}

.plain-text .image {
  margin-bottom: 30px;
}

.plain-text h3 {
  font-size: 16px;
  color: #111827;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .plain-text h3 {
    font-size: 18px;
  }
}

.plain-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
  color: #6B7280;
}

@media (min-width: 992px) {
  .plain-text p {
    font-size: 18px;
    line-height: 28px;
  }
}

.page-struktur .plain-text {
  margin-top: 70px;
}

@media (min-width: 992px) {
  .page-struktur .plain-text {
    margin-top: 150px;
  }
}

.page-terms-conditions .plain-text, .page-privacy-policy .plain-text, .page-impressum .plain-text {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.page-terms-conditions .plain-text .image, .page-privacy-policy .plain-text .image, .page-impressum .plain-text .image {
  display: none;
}

.page-terms-conditions .plain-text a, .page-privacy-policy .plain-text a, .page-impressum .plain-text a {
  color: #0F59A3;
}

.team-member {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

@media (min-width: 575px) {
  .team-member {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .team-member {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 75px;
    margin-top: 78px;
  }
}

@media (min-width: 1199px) {
  .team-member {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.team-member .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.team-member .member .image img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.team-member .member .content h3 {
  font-size: 16px;
  color: #4C9D10;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .team-member .member .content h3 {
    font-size: 18px;
  }
}

.team-member .member .content p {
  font-weight: 400;
  font-size: 16px;
  color: #6B7280;
  line-height: 24px;
}

.team-member .member .content .job-title {
  margin-bottom: 18px;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form form .name {
  width: 100%;
}

@media (min-width: 1199px) {
  .form form .name {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
}

.form form .form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.form form .form-data label {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 8px;
  color: #111827;
  font-weight: 500;
}

@media (min-width: 1199px) {
  .form form .form-data label {
    font-size: 18px;
  }
}

.form form .form-data input, .form form .form-data textarea {
  padding: 17px 10px;
  border: 1px solid #E5E7EB;
  outline: none;
  border-radius: 6px;
}

.form form .form-data input:focus, .form form .form-data textarea:focus {
  border-color: #0F59A3;
}

.form form .form-data textarea {
  min-height: 150px;
}

.form form button {
  background-color: #4C9D10;
  color: #fff;
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

.form form button:hover {
  background-color: #fff;
  color: #4C9D10;
  border: 1px solid #4C9D10;
  padding-right: 10px;
}

.form form button:hover svg path {
  stroke: #4C9D10;
}

@media (min-width: 992px) {
  .form form button {
    font-size: 18px;
    line-height: 28px;
    padding: 17px 35px;
  }
  .form form button:hover {
    padding-right: 25px;
  }
}

.contact-info .content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-info .content h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #111827;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .contact-info .content h2 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 40px;
  }
}

.contact-info .content h2::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 55px;
  background-color: #4C9D10;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact-info .content p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6B7280;
}

@media (min-width: 992px) {
  .contact-info .content p {
    font-size: 18px;
    line-height: 40px;
  }
}

.contact-info .content h2, .contact-info .content p {
  text-align: left;
}

.contact-info .content h2 {
  margin-bottom: 25px;
}

.contact-info .content h2::after {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  left: 0;
}

.page-contact .contact-wrapper {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
}

@media (min-width: 992px) {
  .page-contact .contact-wrapper {
    margin-top: 90px;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.form-contact {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .form-contact {
    margin-top: 159px;
  }
}

.form-contact .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.form-contact .contact-item .icon {
  width: 56px;
  height: 56px;
  margin-right: 20px;
}

.form-contact .contact-item .icon svg path {
  stroke: #fff;
}

.form-contact .contact-item .item-content h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
}

@media (min-width: 575px) {
  .form-contact .contact-item .item-content h3 {
    font-size: 18px;
    line-height: 28px;
  }
}

.form-contact .contact-item .item-content p, .form-contact .contact-item .item-content a {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6B7280;
}

@media (min-width: 575px) {
  .form-contact .contact-item .item-content p, .form-contact .contact-item .item-content a {
    line-height: 28px;
  }
}

.services-wrapper {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .services-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% calc(65% - 50px);
        grid-template-columns: 35% calc(65% - 50px);
    grid-gap: 50px;
  }
}

@media (min-width: 1300px) {
  .services-wrapper {
    -ms-grid-columns: 33% calc(67% - 140px);
        grid-template-columns: 33% calc(67% - 140px);
    grid-gap: 140px;
  }
}

.services-wrapper .services h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: #4C9D10;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 1px solid #D9D9D9;
  cursor: pointer;
}

.services-wrapper .services .subservice {
  padding-left: 30px;
}

.services-wrapper .services .subservice h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: #6B7280;
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.services-wrapper .services .subservice h3:hover, .services-wrapper .services .subservice h3:focus, .services-wrapper .services .subservice h3:active {
  color: #0F59A3;
}

.services-wrapper .services .subservice h3:hover::after, .services-wrapper .services .subservice h3:focus::after, .services-wrapper .services .subservice h3:active::after {
  background-color: #0F59A3;
}

.services-wrapper .services .subservice h3::after {
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  position: absolute;
  left: -15px;
  top: 8px;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: #6B7280;
}

.services-wrapper .subservices-content {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .services-wrapper .subservices-content {
    margin-top: 0;
  }
}

.services-wrapper .subservices-content img {
  width: 100%;
  border-radius: 6px;
}

.services-wrapper .subservices-content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-top: 35px;
  margin-bottom: 20px;
  color: #111827;
}

.services-wrapper .subservices-content p {
  color: #6B7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 15px;
}

.partners {
  margin-top: 50px;
  padding-top: 60px;
  background-size: cover;
  border-radius: 6px;
  background-repeat: no-repeat;
  height: 300px;
  background-position: bottom center;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.partners h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #111827;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .partners h2 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 40px;
  }
}

.partners h2::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 55px;
  background-color: #4C9D10;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.partners p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6B7280;
}

@media (min-width: 992px) {
  .partners p {
    font-size: 18px;
    line-height: 40px;
  }
}

@media (min-width: 991px) {
  .partners {
    height: 394px;
    margin-top: 90px;
  }
}

.partners h2 {
  margin-top: 0;
  margin-bottom: 75px;
  text-transform: uppercase;
}

@media (min-width: 991px) {
  .partners h2 {
    margin-bottom: 100px;
  }
}

.partners .swiper {
  height: 228px;
  max-width: calc(100% - 50px);
}

@media (min-width: 1200px) {
  .partners .swiper {
    max-width: 80%;
  }
}

.partners .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  opacity: 1 !important;
  background-color: #9CA3AF;
}

@media (max-width: 991px) {
  .partners .swiper-pagination-bullet {
    display: none;
  }
}

.partners .swiper-pagination-bullet-active {
  background-color: #4C9D10;
}

.gotojobs {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

@media (min-width: 650px) {
  .gotojobs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

.gotojobs .item img {
  width: 100%;
}

.gotojobs .item h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #111827;
  text-transform: uppercase;
  padding: 32px 20px;
}

.gotojobs .item .link-to-jobs {
  background-color: #4C9D10;
  border-radius: 6px;
  padding: 17px 20px 17px 42px;
  -webkit-transition: .4s;
  transition: .4s;
}

.gotojobs .item .link-to-jobs:hover {
  padding-right: 10px;
}

.gotojobs .item .link-to-jobs svg {
  -webkit-transition: .4s;
  transition: .4s;
}

.gotojobs .item .link-to-jobs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
  text-transform: uppercase;
}

.tabs {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  border-bottom: 1px solid #E5E7EB;
}

@media (min-width: 767px) {
  .tabs {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.tabs a {
  font-weight: 600;
  padding-bottom: 30px;
  line-height: 22px;
  text-transform: uppercase;
  color: #6B7280;
}

@media (min-width: 767px) {
  .tabs a {
    text-align: center;
  }
}

.page-jobs .tabs a:first-child {
  color: #4C9D10;
}

@media (min-width: 767px) {
  .page-jobs .tabs a:first-child {
    border-bottom: 5px solid #4C9D10;
  }
}

.page-trainings .tabs a:last-child {
  color: #4C9D10;
}

@media (min-width: 767px) {
  .page-trainings .tabs a:last-child {
    border-bottom: 5px solid #4C9D10;
  }
}

.job-header {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #E5E7EB;
  padding: 30px;
  margin-top: 40px;
}

.job-header h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #111827;
  margin-bottom: 35px;
}

@media (min-width: 992px) {
  .job-header h2 {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 40px;
  }
}

.job-header h2::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 55px;
  background-color: #4C9D10;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.job-header p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #6B7280;
}

@media (min-width: 992px) {
  .job-header p {
    font-size: 18px;
    line-height: 40px;
  }
}

.job-header h2 {
  margin-bottom: 5px;
  text-transform: uppercase;
}

.job-header h2::after {
  display: none;
}

.job-header .jobs-header-content {
  padding-bottom: 30px;
  border-bottom: 1px solid #E5E7EB;
}

.job-header .search-filters {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  grid-gap: 20px;
}

@media (min-width: 767px) {
  .job-header .search-filters {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin-top: 32px;
  }
}

.job-header .search-filters input {
  outline: none;
  background-color: #F8FAFC;
  border: 1px solid #E5E7EB;
  height: 50px;
  padding: 0 30px;
  color: #6B7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 6px;
}

.job-header .search-filters input:focus {
  border-color: #4C9D10;
}

.job-header .search-filters input::-webkit-input-placeholder {
  color: #D1D5DB;
}

.job-header .search-filters input:-ms-input-placeholder {
  color: #D1D5DB;
}

.job-header .search-filters input::-ms-input-placeholder {
  color: #D1D5DB;
}

.job-header .search-filters input::placeholder {
  color: #D1D5DB;
}

@media (min-width: 992px) {
  .job-header .search-filters input {
    padding: 0 40px;
  }
}

.items {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 767px) {
  .items {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 991px) {
  .items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1199px) {
  .items {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.items .item {
  background-color: #fff;
  border-radius: 6px;
}

.items .item .item-image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.items .item .item-content {
  padding: 20px;
}

.items .item .item-content h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  margin-bottom: 14px;
}

.items .item .item-content .detail-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items .item .item-content .detail-item svg {
  margin-right: 12.5px;
}

.items .item .item-content .detail-item p {
  color: #6B7280;
  font-size: 16px;
  line-height: 19.5px;
}

.items .item .item-content .link-to-post {
  border: 1px solid #4C9D10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  height: 50px;
  margin-top: 16px;
  -webkit-transition: .3s;
  transition: .3s;
}

.items .item .item-content .link-to-post:hover {
  background-color: #4C9D10;
}

.items .item .item-content .link-to-post:hover a {
  color: #fff;
}

.items .item .item-content .link-to-post a {
  -webkit-transition: .3s;
  transition: .3s;
  color: #4C9D10;
  text-transform: uppercase;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pagination div {
  border: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #111827;
  font-weight: 400;
  line-height: 24px;
}

.pagination div:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination div:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.post-wrapper {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

@media (min-width: 1199px) {
  .post-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 100px;
  }
}

.post-wrapper .post-details {
  background: #fff;
  border: 1px solid #E5E7EB;
  padding: 30px;
  padding-top: 20px;
  border-radius: 6px;
  max-width: 400px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.post-wrapper .post-details h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding-bottom: 17px;
  border-bottom: 1px solid #E5E7EB;
}

.post-wrapper .post-details .details .detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.post-wrapper .post-details .details .detail .name, .post-wrapper .post-details .details .detail .value {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: -2%;
  color: #111827;
  font-family: 'Montserrat', sans-serif;
}

.post-wrapper .post-details .details .detail .value {
  color: #6B7280;
  font-weight: 400;
  text-align: right;
}

.post-wrapper .image-content {
  margin-bottom: 40px;
}

@media (min-width: 1199px) {
  .post-wrapper .image-content {
    width: calc(100% - 440px);
    margin-bottom: 0;
    margin-left: 40px;
  }
}

@media (min-width: 1299px) {
  .post-wrapper .image-content {
    margin-left: 80px;
    width: calc(100% - 480px);
  }
}

.post-wrapper .image-content .post-image img {
  width: 100%;
  border-radius: 6px;
}

.post-wrapper .image-content h1 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  line-height: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media (min-width: 991px) {
  .post-wrapper .image-content h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 34px;
  }
}

.post-wrapper .image-content .content h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

@media (min-width: 991px) {
  .post-wrapper .image-content .content h3 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 17px;
  }
}

.post-wrapper .image-content .content p {
  margin-bottom: 19px;
}

.post-wrapper .image-content .content p, .post-wrapper .image-content .content li {
  font-size: 16px;
  color: #6B7280;
  line-height: 24px;
}

.post-wrapper button {
  background-color: #4C9D10;
  color: #fff;
  outline: none;
  border: none;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

.post-wrapper button:hover {
  background-color: #fff;
  color: #4C9D10;
  border: 1px solid #4C9D10;
  padding-right: 10px;
}

.post-wrapper button:hover svg path {
  stroke: #4C9D10;
}

@media (min-width: 992px) {
  .post-wrapper button {
    font-size: 18px;
    line-height: 28px;
    padding: 17px 35px;
  }
  .post-wrapper button:hover {
    padding-right: 25px;
  }
}

.popup {
  background: rgba(125, 125, 125, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.popup .popup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 100px);
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  position: relative;
}

@media (min-width: 991px) {
  .popup .popup-form {
    padding: 50px;
    width: calc(100% - 200px);
  }
}

@media (min-width: 1199px) {
  .popup .popup-form {
    width: 50%;
  }
}

.popup .popup-form .close-popup {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #c03535;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.site-footer {
  background-color: #fff;
  padding-top: 30px;
  margin-top: 50px;
}

@media (min-width: 991px) {
  .site-footer {
    margin-top: 100px;
  }
}

@media (min-width: 650px) {
  .site-footer .footer-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}

@media (min-width: 991px) {
  .site-footer .footer-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.site-footer a, .site-footer p {
  color: #6B7280;
  font-size: 16px;
  line-height: 24px;
}

.site-footer h3 {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 15px;
  margin-top: 30px;
}

@media (min-width: 992px) {
  .site-footer h3 {
    font-size: 18px;
  }
}

.site-footer .footer-logo .logo {
  margin-top: -10px;
  margin-bottom: 16px;
  width: 230px;
}

@media (min-width: 992px) {
  .site-footer .footer-logo .logo {
    width: auto;
  }
}

.site-footer .footer-logo .short-derscription {
  margin-top: 25px;
}

.site-footer .footer-logo .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.site-footer .footer-logo .location svg {
  margin-right: 15px;
}

.site-footer .sm-item svg {
  margin-right: 16px;
}

.site-footer .sm-item svg path {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.site-footer .form-contact {
  margin-top: 30px;
}

.site-footer .form-contact h3 {
  margin: 0;
}

.site-footer .copyright {
  background-color: #0F59A3;
  margin-top: 62px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-footer .copyright .container {
  width: 100%;
}

.site-footer .copyright p {
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */